/*-- scss:defaults --*/
.red { color: red; }

.title {
  font-size: 70px !important;
}

.slide {
  background-color: #fef1da !important;
}

.blockquote {
    font-size: 32px;
    margin-left: 100px;
    font-style: italic;
    color: #10ae9b;
}

.bottom {
    position: absolute; 
    bottom: 10px; 
    width: 100%; 
    text-align: center;
}

.v-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 100px !important;
  width: 100x !important;
  max-width: unset !important;
  max-height: unset !important;
}

/* Make specific slide scrollable */
.scrollable-slide {
  height: 100vh; /* Set the height to viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}


/* CSS for the logo on the title slide */


/*
#title-slide-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; 
}
  
  .title-slide .remark-slide-content {
    background-image: url("images/logo_ardoise.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100px; 
  }
  
  
  #other-slides-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; 
  }
 
  .remark-slide-content:not(.title-slide) {
    background-image: url("images/logo_ardoise_blanc.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100px; 
  }
  
*/

.reveal .footer {
   color: #000 !important;
}

.opacity {
    opacity: 0.33;
}

.title-font {
    font-size: larger;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}




.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}





.clickable_lightb {
    width: 900px;  /* Set the width as per your requirement */
    height: 100px; /* Set the height as per your requirement */
    background-color: #6d6cbd;
    border-radius: 10px; /* Make it rounded corners */
    margin: 10px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    justify-content: center;  /* Horizontally center text */
    align-items: center;  /* Vertically center text */ 
    color: white;
}

.clickable_lightb p {
    margin: 10px; /* Remove default margin */
    padding: 10px 20px; /* Remove default padding */
}

.clickable_lightb:hover {
    background-color: white;  /* Change the background color to white when hovered */
    border-width: 5px;
    border-color: #c5bfe2;
    border-style: solid;
    color: #c5bfe2;
}


.clickable_mediumb {
    width: 900px;  /* Set the width as per your requirement */
    height: 100px; /* Set the height as per your requirement */
    background-color: #4e4bbf;
    border-radius: 10px; /* Make it rounded corners */
    margin: 10px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    justify-content: center;  /* Horizontally center text */
    align-items: center;
    color: white;/* Vertically center text */ 
}

.clickable_mediumb p {
    margin: 10px; /* Remove default margin */
    padding: 10px 20px; /* Remove default padding */
  
}

.clickable_mediumb:hover {
    background-color: white;  /* Change the background color to white when hovered */
    border-width: 5px;
    border-color: #c5bfe2;
    border-style: solid;
    color: #c5bfe2;
}

.clickable_darkb {
    width: 900px;  /* Set the width as per your requirement */
    height: 100px; /* Set the height as per your requirement */
    background-color: #3d289e;
    border-radius: 10px; /* Make it rounded corners */
    margin: 10px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    justify-content: center;  /* Horizontally center text */
    align-items: center;  /* Vertically center text */ 
    color: white;
}

.clickable_darkb p {
    margin: 10px; /* Remove default margin */
    padding: 10px 20px; /* Remove default padding */
}



.clickable_darkb:hover {
    background-color: white;  /* Change the background color to white when hovered */
    border-width: 5px;
    border-color: #c5bfe2;
    border-style: solid;
    color: #c5bfe2 !important;
}

.text_center {
    width: 900px;
    font-size: 0.5em;
    margin: 10px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    /*justify-content: center;   Horizontally center text */
    /* align-items: center;  Vertically center text */ 
}

.clickable_lightp {
    width: 100px;  /* Set the width as per your requirement */
    height: 100px; /* Set the height as per your requirement */
    background-color: #b34ac1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%; /* Make it rounded corners */
    /*margin: 30px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    justify-content: center;  /* Horizontally center text */
    align-items: center;  /* Vertically center text */ 
    color: white;
}

.clickable_darkp {
    width: 100px;  /* Set the width as per your requirement */
    height: 100px; /* Set the height as per your requirement */
    background-color: #562570;
    border-radius: 100%; /* Make it rounded corners */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin: 30px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    justify-content: center;  /* Horizontally center text */
    align-items: center;  /* Vertically center text */ 
    color: white;
}

.clicabke_lightp p {
    margin: 10px; /* Remove default margin */
    padding: 10px 20px; /* Remove default padding */
}



.clickable_lightp:hover {
    background-color: white;  /* Change the background color to white when hovered */
    border-width: 5px;
    border-color: #b34ac1;
    border-style: solid;
    color: #b34ac1 !important;
}

.clickable_darkp p {
    margin: 10px; /* Remove default margin */
    padding: 10px 20px; /* Remove default padding */
}



.clickable_darkp:hover {
    background-color: white;  /* Change the background color to white when hovered */
    border-width: 5px;
    border-color: #562570;
    border-style: solid;
    color: #562570 !important;
}

.static_lightb {
    margin: 30px; /* Margin between rectangle border and characters */
    font-size: 20px; /* Size of the font */
    display: flex;  /* Use Flexbox to center text */
    justify-content: center;  /* Horizontally center text */
    align-items: center;  /* Vertically center text */ 
    background-color: white;  /* Change the background color to white when hovered */
    border-width: 5px;
    border-color: #c5bfe2;
    border-style: solid;
    color: #c5bfe2;
}
